body {
  margin: 0;
  overflow: hidden;
  background: #202442;
}

#messages {
  overflow: scroll;
  padding: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

#submit {
  background-color: #f55164;
  color: white;
}

#fetchedMessages {
  margin: 15px;
  border-radius: 5px;
  padding: 15px;
  color: white;
  font-size: 1.2rem;
  background-color: #25294a;
}

.singleFetchedMessage {
  margin: 10px;
  background: #0b36b0;
  padding: 20px;
  border-radius: 4px;
}

form {
  display: flex;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  --webkit-appearance: none;
}

#message {
  flex: 2;
}
